<div id="<%= dom_id caminhao %>">
  <p>
    <strong>Modelo:</strong>
    <%= caminhao.modelo %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= caminhao.placa %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= caminhao.ano %>
  </p>

  <p>
    <strong>Capacidade:</strong>
    <%= caminhao.capacidade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= caminhao.status %>
  </p>

  <p>
    <strong>Chassi:</strong>
    <%= caminhao.chassi %>
  </p>

  <p>
    <strong>Data ultima inspecao:</strong>
    <%= caminhao.data_ultima_inspecao %>
  </p>

</div>
