<div id="<%= dom_id carga %>">
  <p>
    <strong>Descricao:</strong>
    <%= carga.descricao %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= carga.peso %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= carga.volume %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= carga.valor %>
  </p>

  <p>
    <strong>Numero rastreamento:</strong>
    <%= carga.numero_rastreamento %>
  </p>

</div>
