<%= form_with(model: carga) do |form| %>
  <% if carga.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carga.errors.count, "error") %> prohibited this carga from being saved:</h2>

      <ul>
        <% @carga_atual.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_field :descricao %>
  </div>

  <div>
    <%= form.label :peso, style: "display: block" %>
    <%= form.text_field :peso %>
  </div>

  <div>
    <%= form.label :volume, style: "display: block" %>
    <%= form.text_field :volume %>
  </div>

  <div>
    <%= form.label :valor, style: "display: block" %>
    <%= form.text_field :valor %>
  </div>

  <div>
    <%= form.label :numero_rastreamento, style: "display: block" %>
    <%= form.text_field :numero_rastreamento %>
  </div>

  <div>
    <%= form.label :rota_id, style: "display: block" %>
    <%= form.collection_select :rota_id, Rotum.all, :id, :observacoes, { prompt: 'Selecione uma Rota' }, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
