<%= form_with(model: caminhao) do |form| %>
  <% if caminhao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(caminhao.errors.count, "error") %> prohibited this caminhao from being saved:</h2>

      <ul>
        <% caminhao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :modelo, style: "display: block" %>
    <%= form.text_field :modelo %>
  </div>

  <div>
    <%= form.label :placa, style: "display: block" %>
    <%= form.text_field :placa %>
  </div>

  <div>
    <%= form.label :ano, style: "display: block" %>
    <%= form.number_field :ano %>
  </div>

  <div>
    <%= form.label :capacidade, style: "display: block" %>
    <%= form.text_field :capacidade %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :chassi, style: "display: block" %>
    <%= form.text_field :chassi %>
  </div>

  <div>
    <%= form.label :data_ultima_inspecao, style: "display: block" %>
    <%= form.datetime_field :data_ultima_inspecao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
