<p style="color: green"><%= notice %></p>

<%= render @endereco_atual %>

<div>
  <%= link_to "Edit this endereco", edit_endereco_path(@endereco_atual) %> |
  <%= link_to "Back to enderecos", enderecos_path %>

  <%= button_to "Destroy this endereco", @endereco_atual, method: :delete %>
</div>
