<%= form_with(model: rotum) do |form| %>
  <% if rotum.errors.any? %>
    <div style="color: red" class="mb-3">
      <h2><%= pluralize(rotum.errors.count, "error") %> prohibited this rotum from being saved:</h2>
      <ul>
        <% rotum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-5 bg-white rounded-lg shadow-lg grid grid-cols-2 gap-y-4 justify-center">
    <div>
      <%= form.label :endereco_partida_id, style: "display: block" %>
      <%= form.collection_select :endereco_partida_id, Endereco.all, :id, :cidade, { prompt: 'Selecione uma Cidade' }, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :endereco_chegada_id, style: "display: block" %>
      <%= form.collection_select :endereco_chegada_id, Endereco.all, :id, :cidade, { prompt: 'Selecione uma Cidade' }, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :data_de_partida, style: "display: block" %>
      <%= form.datetime_field :data_de_partida %>
    </div>

    <div>
      <%= form.label :data_de_chegada, style: "display: block" %>
      <%= form.datetime_field :data_de_chegada %>
    </div>

    <div>
      <%= form.label :observacoes, style: "display: block" %>
      <%= form.text_field :observacoes %>
    </div>

    <div>
      <%= form.label :caminhao_id, style: "display: block" %>
      <%= form.collection_select :caminhao_id, Caminhao.all, :id, :placa, { prompt: 'Selecione um Caminhão' }, class: 'form-control' %>
    </div>
  </div>

  <div class="mt-3 h-full flex justify-end">
    <%= form.submit :class=>"bg-blue-500 text-white rounded py-2 px-3 cursor-pointer transition duration-300 hover:bg-blue-600"%>
  </div>
<% end %>
