<div id="<%= dom_id rotum %>">
  <p>
    <strong>Ponto de partida:</strong>
    <%= rotum.endereco_partida.cidade %>
  </p>

  <p>
    <strong>Ponto de chegada:</strong>
    <%= rotum.endereco_chegada.cidade %>
  </p>

  <p>
    <strong>Data de partida:</strong>
    <%= rotum.data_de_partida %>
  </p>

  <p>
    <strong>Data de chegada:</strong>
    <%= rotum.data_de_chegada %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= rotum.observacoes %>
  </p>

  <p>
    <strong>Caminhao:</strong>
    <%= rotum.caminhao.placa %>
  </p>

</div>
