<div id="<%= dom_id rotum %>">
  <p>
    <strong>Ponto de partida:</strong>
    <%= rotum.ponto_de_partida %>
  </p>

  <p>
    <strong>Ponto de chegada:</strong>
    <%= rotum.ponto_de_chegada %>
  </p>

  <p>
    <strong>Data de partida:</strong>
    <%= rotum.data_de_partida %>
  </p>

  <p>
    <strong>Data de chegada:</strong>
    <%= rotum.data_de_chegada %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= rotum.observacoes %>
  </p>

  <p>
    <strong>Caminhao:</strong>
    <%= rotum.caminhao_id %>
  </p>

</div>
