<%= form_with(model: motorista) do |form| %>
  <% if motorista.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(motorista.errors.count, "error") %> prohibited this motorista from being saved:</h2>

      <ul>
        <% motorista.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.number_field :cpf %>
  </div>

  <div>
    <%= form.label :cnh, style: "display: block" %>
    <%= form.number_field :cnh %>
  </div>

  <div>
    <%= form.label :telefone, style: "display: block" %>
    <%= form.number_field :telefone %>
  </div>

  <div>
    <%= form.label :data_nascimento, style: "display: block" %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div>
    <%= form.label :caminhao_id, style: "display: block" %>
    <%= form.collection_select :caminhao_id, Caminhao.all, :id, :placa, { prompt: 'Selecione um Caminhão' }, class: 'form-control' %>
  </div>

  <br/>

  <div>
    <%= form.submit %>
  </div>
<% end %>
