<%= form_with(model: motorista) do |form| %>
  <% if motorista.errors.any? %>
    <div style="color: red" class="mb-3">
      <h2><%= pluralize(motorista.errors.count, "error") %> prohibited this motorista from being saved:</h2>

      <ul>
        <% motorista.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="p-5 bg-white rounded-lg shadow-lg grid grid-cols-2 gap-y-4 justify-center">
    <div>
      <%= form.label :nome, style: "display: block" %>
      <%= form.text_field :nome %>
    </div>

    <div>
      <%= form.label :cpf, style: "display: block" %>
      <%= form.number_field :cpf %>
    </div>

    <div>
      <%= form.label :cnh, style: "display: block" %>
      <%= form.number_field :cnh %>
    </div>

    <div>
      <%= form.label :telefone, style: "display: block" %>
      <%= form.number_field :telefone %>
    </div>

    <div>
      <%= form.label :data_nascimento, style: "display: block" %>
      <%= form.date_field :data_nascimento %>
    </div>

    <div>
      <%= form.label :caminhao_id, style: "display: block" %>
      <%= form.collection_select :caminhao_id, Caminhao.all, :id, :placa, { prompt: 'Selecione um Caminhão' }, class: 'form-control' %>
    </div>
  </div>

  <div class="mt-3 h-full flex justify-end">
    <%= form.submit :class=>"bg-blue-500 text-white rounded py-2 px-3 cursor-pointer transition duration-300 hover:bg-blue-600"%>
  </div>
<% end %>
