<div id="<%= dom_id motorista %>">
  <p>
    <strong>Nome:</strong>
    <%= motorista.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= motorista.cpf %>
  </p>

  <p>
    <strong>Cnh:</strong>
    <%= motorista.cnh %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= motorista.telefone %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= motorista.data_nascimento %>
  </p>

  <p>
    <strong>Caminhao:</strong>
    <%= motorista.caminhao.placa %>
  </p>

</div>
