<!DOCTYPE html>
<html>
  <head>
    <title>GestaoMonitoramentoFrota</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="flex bg-slate-300 w-screen h-screen flex flex-col box-border">
    <% if user_signed_in? %>
      <%= render "layouts/navbar" %>
    <% end %>
    <p class="notice w-screen bg-blue-500 text-white px-3"><%= notice %></p>
    <p class="alert w-screen bg-blue-500 text-white px-3"><%= alert %></p>
    <%= yield %>
  </body>
</html>
